{% extends 'authority_base/authority_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}

{% block body %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Add Employee</h6>
    <form method='POST' enctype="multipart/form-data"> {% csrf_token %}
        <div class="row mb-4">
            <div class="col">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                {{form.email |add_class:"form-control" }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="exampleInputEmail1" class="form-label">Create Passord</label>
                {{form.password1 |add_class:"form-control" }}
            </div>
            <div class="col mt-2">
                <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                {{form.password2 |add_class:"form-control"}}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col mt-2">
                <label for="exampleInputEmail1" class="form-label">Is the employee Admin?</label>
                {{form.is_staff |add_class:"form-check-input"}}
            </div>
            <div class="col mt-2">
                <label for="exampleInputEmail1" class="form-label">Is the employee is Receptionist?</label>
                {{form.is_receptonist |add_class:"form-check-input"}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock body %}