{% extends 'authority_base/authority_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}

{% block body %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Calculated Salary List</h6>
    <div class="col-md-12 col-lg-12 mb-4">
      <form class="d-flex">
        <div class="row">
            <div class="col">
                {{salarys.form.employee_id | add_class:"form-control"}}
            </div>
            <div class="col">
                {{salarys.form.salary_month | add_class:"form-select"}}
            </div>
            <div class="col">
                {{salarys.form.festival_bonus |add_class:"form-select"}}
            </div>
            <div class="col">
                <button class="btn btn-outline-success ms-2" type="submit">Search</button>
            </div>
          </div>
      </form>
    </div>
    
    <table class="table table-striped table-hover ">
        <thead class="table-dark">
            <tr>
              <th scope="col">Sl</th>
              <th scope="col">Employee ID</th>
              <th scope="col">Employee Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Month</th>
              <th scope="col">Festival Bonus</th>
              <th scope="col">Total Salary</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody> 
            {% if salarys %} 
                {% for salary in salarys.qs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> {{salary.salary_employee.employee_id}} </td>
                    <td> {{salary.salary_employee.info_of.profile.first_name}} {{salary.salary_employee.info_of.profile.last_name}}</td>
                    <td>{{salary.salary_employee.position.designation}}</td>
                    <td>{{salary.salary_month}}</td>
                    <td>
                        {% if salary.festival_bonus %}
                            {{salary.festival_bonus.festival_name}}
                        {% else %}
                            N/A
                        {% endif %}</td>
                    <td>{{salary.total_salary}}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'authority:monthly_salary_details' salary.id %}" role="button"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-success" href="{% url 'authority:update_calculated_salary' salary.id %}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger" href="{% url 'authority:delete_calculated_salary' salary.id %}" role="button"><i class="fa-solid fa-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}     
            {% endif %}
            </tbody>      
      </table>
</div>
    
{% endblock body %}