{% extends 'authority_base/authority_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}



{% block body %}
<div class="col-sm-12 col-xl-12">
    <div class="bg-white rounded h-100 p-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
            <a class="btn btn-primary" href="{% url 'authority:leave_application_list' %}" role="button"><i class="fa-solid fa-arrow-left"></i>Back</a>
            <a class="btn btn-primary" href="{% url 'report:leaveapplication_pdf' leave.id %}" target="_blank" role="button"><i class="fa-regular fa-circle-down"></i></a>
            <a class="btn btn-primary" href="{% url 'report:leaveapplication_pdf' leave.id %}" target="_blank" role="button"><i class="fa-solid fa-print"></i></a>
          </div>
        <h5 class="mb-4">Application Details</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AcceptModal">
               Accept Application
              </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
               Reject Application
              </button>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Fields Name</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Application ID</td>
                    <td> {{leave.application_id}}</td>
                </tr>
                <tr>
                    <td>Employee Name</td>
                    <td> {{leave.application_of.profile.first_name}}  {{leave.application_of.profile.last_name}}</td>
                </tr>
                <tr>
                    <td>Employee ID</td>
                    <td> {{leave.employee_id}} </td>
                </tr>
                <tr>
                    <td>Leave From</td>
                    <td> {{leave.leave_from}} </td>
                </tr>
                <tr>
                    <td>Leave To</td>
                    <td> {{leave.leave_to}} </td>
                </tr>
            </tbody>
        </table>
        <div class="card">
            <div class="card-header bg-primary">
                <h6 class="text-white">Leave For</h6>
            </div>
            <div class="card-body">
              <p class="card-text"> {{leave.leave_description}} </p>
            </div>
        </div>
        
        {% if leave.declined_status %}
        <div class="card mt-3">
            <div class="card-header bg-primary">
                <h6 class="text-white">Reject For</h6>
            </div>
            <div class="card-body">
              <p class="card-text"> {{leave.declined_message}} </p>
            </div>
        </div>
            
        {% endif %}
            
        <div class="p-4">
            {% if approved_status %}
            <h6 class="my-4">Approved By</h6>
            <img src=" {{leave.approvied_by.employee_info.signature.url}} " alt="" height="150" width="200">
            <p>{{leave.approvied_by.profile.first_name}} {{leave.approvied_by.profile.last_name}}</p>
        {% elif leave.declined_status %}
            <h6 class="my-4">Rejected By</h6>
            <img src=" {{leave.approvied_by.employee_info.signature.url}} " alt="" height="150" width="200">
            <h6>{{leave.approvied_by.profile.first_name}} {{leave.approvied_by.profile.last_name}}</h6>
            <h6>{{leave.approvied_by.employee_info.position.designantion}}</h6>
            <h6>{{leave.approvied_by.employee_info.position.department}}</h6>
        {% else %}
        <h6 class="my-4">Pending</h6>
        {% endif %}

        </div>
    </div>
</div> 


<!-- Modal -->
<div class="modal fade" id="AcceptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Leave Application Accept Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST"> {% csrf_token %}
                <div class="row mb-4">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Leave From</label>
                        {{form.leave_from |add_class:"form-select"}}
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Leave To</label>
                        {{form.leave_to |add_class:"form-select"}}
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-primary">Save</button>
        </div>
    </form>
      </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Payroll Month</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'authority:accept_leave_application' leave.id %}"> {% csrf_token %}
                <div class="row mb-4">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Month</label>
                        {{form.month |add_class:"form-select"}}
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Year</label>
                        {{form.year |add_class:"form-select"}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">From Date</label>
                        {{form.from_date |add_class:"form-control"}}
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">To Date</label>
                        {{form.to_date |add_class:"form-control"}}
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-primary">Save</button>
        </div>
    </form>
      </div>
    </div>
</div>
{% endblock body %}