{% extends 'accounts_base/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<!-- Sign In Start -->
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="">
                        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>PSM</h3>
                    </a>
                    <h3>Sign In</h3>
                </div>
                <form action="" method="POST"> {% csrf_token %}
                    <div class="form-floating mb-3">
                        {{form.username | add_class:"form-control" | append_attr:"placeholder:name@example.com"}}
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-4">
                        {{form.password | add_class:"form-control" | append_attr:"placeholder:name@example.com"}}
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                </form>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <a href="">Forgot Password</a>
                </div>
                
                <p class="text-center mb-0">Don't have an Account? <a href="">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Sign In End -->
    
{% endblock body %}
    
    