{% extends 'employee_base/base_employee.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="bg-light rounded h-100 p-4">
    <div class="row">
        <div class="col-md-4">
            <h6 class="mb-4">Monthly Holiday List</h6>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 mb-4">
        <form class="d-flex">
          <div class="row">
              <div class="col">
                  {{holidays.form.holiday_month | add_class:"form-control"}}
              </div>
              <div class="col">
                  {{holidays.form.holiday_name | add_class:"form-control"}}
              </div>
              <div class="col">
                  <button class="btn btn-outline-success ms-2" type="submit">Search</button>
              </div>
            </div>
        </form>
      </div>
    
    <table class="table table-striped table-hover ">
        <thead class="table-dark">
            <tr>
              <th scope="col">Sl</th>
              <th scope="col">Holiday Month</th>
              <th scope="col">Holiday Name</th>
              <th scope="col">Holiday Date</th>
            </tr>
          </thead>
          <tbody> 
            {% if holidays %} 
                {% for holiday in holidays.qs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> {{holiday.holiday_month}} </td>
                    <td> {{holiday.holiday_name}} </td>
                    <td> {{holiday.holiday_date}} </td>
                </tr>
                {% endfor %}     
            {% endif %}     
      </table>
</div>
{% endblock body %}
    