{% extends 'reception_base/base_reception.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}

{% block body %}
<div class="row g-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Attendance List</h6>
            <div class="col-md-12 mb-4">
                <form class="d-flex">
                    <div class="row g-3">
                        <div class="col">
                            {{attendances.form.employee_id |add_class:"form-control"}}
                        </div>
                        <div class="col">
                            {{attendances.form.from_date |add_class:"form-control"}}
                        </div> 
                        <div class="col">
                            {{attendances.form.to_date |add_class:"form-control"}}
                        </div>
                      </div>
                  <button class="btn btn-outline-success ms-2" type="submit">Search</button>
                </form>
              </div>
            <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">SL</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Entering Tiem</th>
                    <th scope="col">Exit Tiem</th>
                    <th scope="col">Late</th>
                  </tr>
                </thead>
                <tbody>   
                    {% if attendances %}   
                        {% for attendance in attendances.qs  %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{attendance.attendance_of.info_of.profile.first_name}} {{attendance.attendance_of.info_of.profile.last_name}}</td>
                                <td>{{attendance.attendance_of.position.designation}}</td>
                                <td>{{attendance.employee_id}}</td>
                                <td>{{attendance.date}}</td>
                                <td>{{attendance.entering_time}}</td>
                                <td>{{attendance.exit_time}}</td>
                                <td>{{attendance.late_present}}</td>
                            </tr>  
                        {% endfor %}    
                    {% endif %}
                </tbody>
              </table>

            
        </div>
    </div>    
</div>
<!-- Form End -->
{% endblock body %}